body {
    background-image: url('../static/vintage-judicial-system-elements-set-with-judge-handcuffs-police-badge-scales-gavel-feather-law-book-themis-statue-courthouse-isolated_1284-38527.webp');
    background-repeat: repeat;
    background-size: 30%;
    margin: auto;
}

button {
    background-color: transparent;
    min-width: 3rem;
    min-height: 3rem;
}

button:hover {
    box-shadow: 1px 3px 5px black;
}

.mi {
    font-size: 1.4rem;
}

.default-container {
    background-color: rgb(247, 243, 244, 0.9);
    color: black;
    margin-bottom: 3%;
    box-shadow: 1px 5px 10px black;
}

p {
    
}